.login_top_bg {
	BACKGROUND-IMAGE: url(../images/frame/login-top-bg.gif); BACKGROUND-REPEAT: repeat-x
}
.body {
	BACKGROUND-COLOR: #26589D;
	BOTTOM: 0px;
	TOP: 0px;
	RIGHT: 0px;
	LEFT: 0px
}
.login-buttom-bg {
	BACKGROUND-IMAGE: url(../images/frame/login-buttom-bg.gif); BACKGROUND-REPEAT: repeat-x
}
.login-buttom-txt {
	LINE-HEIGHT: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #abcad3; FONT-SIZE: 10px; TEXT-DECORATION: none
}
.login_txt {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 12px
}
.Submit {
	BACKGROUND-IMAGE: url(Submit_bg.gif); BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #629dae; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.login_bg {
	BACKGROUND-IMAGE: url(../images/frame/login_bg.jpg); BACKGROUND-REPEAT: repeat-x
}
.login_bg2 {
	BACKGROUND-IMAGE: url(../images/frame/login-content-bg.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 50%
}
.admin_txt {
	LINE-HEIGHT: 38px; WIDTH: 100%; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 38px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.login_txt_bt {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.admin_topbg {
	BACKGROUND-IMAGE: url(../images/frame/top-right.gif); BACKGROUND-REPEAT: repeat-x
}
.txt_bt {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.left_topbg {
	BACKGROUND-IMAGE: url(../images/frame/content-bg.gif); BACKGROUND-REPEAT: repeat-x
}
.admin_toptxt {
	WIDTH: 100%; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 18px; COLOR: #4a8091; FONT-SIZE: 12px; OVERFLOW: hidden
}
.left_bt {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #395a7b; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.left_bt2 {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.titlebt {
	BACKGROUND-IMAGE: url(top_bt.jpg); LINE-HEIGHT: 26px; TEXT-INDENT: 15px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; COLOR: #000000; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.titlebt000 {
	BACKGROUND-IMAGE: url(top_bt2.jpg); LINE-HEIGHT: 26px; TEXT-INDENT: 15px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; COLOR: #000000; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.titlebt111 {
	BACKGROUND-IMAGE: url(top_bt2.jpg); LINE-HEIGHT: 26px; TEXT-INDENT: 15px; WIDTH: 111px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; FLOAT: left; COLOR: #000000; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.titlebt222 {
	BACKGROUND-IMAGE: url(top_bt2.jpg); LINE-HEIGHT: 26px; TEXT-INDENT: 15px; MARGIN: 0px 0px 0px 3px; WIDTH: 111px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; FLOAT: left; COLOR: #000000; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.titlebt333 {
	BACKGROUND-IMAGE: url(top_bt4.jpg); LINE-HEIGHT: 26px; TEXT-INDENT: 15px; MARGIN: 0px; WIDTH: 61px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; FLOAT: left; COLOR: #000000; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.left_txt0 {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #395a7b; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.left_txt_bt {
	LINE-HEIGHT: 30px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #395a7b; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.left_txt0123 {
	LINE-HEIGHT: 30px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #395a7b; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.left_txt13 {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666; FONT-SIZE: 13px
}
.left_txt {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666; FONT-SIZE: 12px
}
.left_txt_80 {
	LINE-HEIGHT: 80px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666; FONT-SIZE: 12px
}
.left_txt2 {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 12px
}
.nowtable {
	BACKGROUND-COLOR: #e1e5ee; BORDER-TOP: #c3cdd3 1px solid
}
.left_txt3 {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #003366; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.left_ts {
	LINE-HEIGHT: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ff6600; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.line_table {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.sec1 {
	BACKGROUND-IMAGE: url(right_smbg.jpg); BORDER-BOTTOM: #b5d0d9 1px solid; BORDER-LEFT: #b5d0d9 1px solid; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 12px; BORDER-TOP: #b5d0d9 1px solid; CURSOR: hand; BORDER-RIGHT: #b5d0d9 1px solid
}
.sec2 {
	BORDER-BOTTOM: #e2e7ed 1px solid; BORDER-LEFT: #e2e7ed 1px solid; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #e2e7ed; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 12px; BORDER-TOP: #e2e7ed 1px solid; CURSOR: hand; FONT-WEIGHT: bold; BORDER-RIGHT: #e2e7ed 1px solid
}
.main_tab {
	BORDER-BOTTOM: #e2e7ed 1px solid; BORDER-LEFT: #e2e7ed 1px solid; BACKGROUND-COLOR: #e2e7ed; COLOR: #000000; BORDER-TOP: #e2e7ed 1px solid; BORDER-RIGHT: #e2e7ed 1px solid
}
.MM A {
	BACKGROUND-IMAGE: url(menu_bg.gif); LINE-HEIGHT: 26px; LIST-STYLE-TYPE: none; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666; FONT-SIZE: 12px; LIST-STYLE-IMAGE: none
}
A:link {
	LINE-HEIGHT: 25px; COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	LINE-HEIGHT: 25px; COLOR: #666666; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	LINE-HEIGHT: 25px; COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.MM A:link {
	BACKGROUND-IMAGE: url(menu_bg.gif); LINE-HEIGHT: 26px; LIST-STYLE-TYPE: none; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666; FONT-SIZE: 12px; LIST-STYLE-IMAGE: none
}
.zldj_heng1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 30px; BORDER-RIGHT: #e1e5ee 1px solid; PADDING-TOP: 0px
}
.zldj_heng1_12 {
	BORDER-LEFT: #e1e5ee 1px solid; WIDTH: 100%; FLOAT: left; HEIGHT: 30px; BORDER-RIGHT: #e1e5ee 1px solid
}
.zldj_heng1_80 {
	WIDTH: 100%; FLOAT: left; HEIGHT: 80px; BORDER-RIGHT: #e1e5ee 1px solid
}
.zldj_heng1_80_12 {
	BORDER-LEFT: #e1e5ee 1px solid; WIDTH: 100%; FLOAT: left; HEIGHT: 80px; BORDER-RIGHT: #e1e5ee 1px solid
}
.tjjg_heng1 {
	WIDTH: 100%; FLOAT: left; HEIGHT: 30px; BORDER-RIGHT: #ccc 1px solid
}
.xxpm_heng1 {
	WIDTH: 100%; FLOAT: left; HEIGHT: 30px; BORDER-RIGHT: #e1e5ee 1px solid
}
.xxpm_heng1_auto {
	WIDTH: 100%; FLOAT: left; HEIGHT: 80px; BORDER-RIGHT: #e1e5ee 1px solid
}
.xxpm_heng2 {
	WIDTH: 100%; FLOAT: left; HEIGHT: 30px; BORDER-RIGHT: #c3cdd3 1px solid
}
.xxpm_heng3 {
	BORDER-BOTTOM: #c3cdd3 1px solid; WIDTH: 100%; FLOAT: left; HEIGHT: 30px; BORDER-RIGHT: #c3cdd3 1px solid
}
.xxpm_heng4 {
	BORDER-BOTTOM: #c3cdd3 1px solid; WIDTH: 100%; FLOAT: left; HEIGHT: 30px
}
.manage_table {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 40px; PADDING-TOP: 0px
}
.manage_table_heng1 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 40px; PADDING-TOP: 0px
}
.manage_table_heng1_ul {
	TEXT-ALIGN: center; WIDTH: 100%; FLOAT: left; HEIGHT: 40px
}
.manage_table_heng1_ul_1 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 8px 0px 0px 180px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; HEIGHT: 30px; PADDING-TOP: 0px
}
.manage_table_heng1_ul_2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 0px 35px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; HEIGHT: 40px; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.manage_table_heng1_ul_3 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 10px 0px 0px 5px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; HEIGHT: 30px; PADDING-TOP: 0px
}
.manage_table_heng1_ul_4 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 8px 0px 0px 35px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; HEIGHT: 25px; PADDING-TOP: 0px
}
.zldj_heng1_cd {
	MARGIN: 3px 0px 0px; WIDTH: 100%; FLOAT: left; HEIGHT: 25px
}
.pqpmjg_heng {
	WIDTH: 100%; FLOAT: left; HEIGHT: 30px; BORDER-RIGHT: #d5dce0 1px solid
}
